{
.appVersion = "3109";
.formatVersion = 3;
date = "2020-12-15 18:22:22 +0000";
familyName = Aluminium;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature sups;
feature ordn;
feature case;
feature pnum;
feature tnum;
feature ss01;
feature ss02;
";
tag = aalt;
},
{
code = "sub f f by f_f;
sub f i by f_i;
sub f j by f_j;
sub f l by f_l;
sub f t by f_t;
sub f f i by f_f_i;
sub f f j by f_f_j;
sub f f l by f_f_l;
sub f.var f.var by f_f.var;
sub f.var i by f_i.var;
sub f.var j.var by f_j.var;
sub f.var l by f_l.var;
sub f.var t by f_t.var;
sub f.var f.var i by f_f_i.var;
sub f.var f.var j.var by f_f_j.var;
sub f.var f.var l by f_f_l.var;
";
tag = liga;
},
{
automatic = 1;
code = "lookup FRAC {
	sub slash by fraction;
} FRAC;
lookup UP {
	sub [zero one two three four five six seven eight nine] by [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr];
} UP;
lookup DOWN {
	sub fraction [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr]' by [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom];
	sub [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom] [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr]' by [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom];
} DOWN;
";
tag = frac;
},
{
automatic = 1;
code = "sub zero by zeroinferior;
sub one by oneinferior;
sub two by twoinferior;
sub three by threeinferior;
sub four by fourinferior;
sub five by fiveinferior;
sub six by sixinferior;
sub seven by seveninferior;
sub eight by eightinferior;
sub nine by nineinferior;
";
tag = subs;
},
{
automatic = 1;
code = "sub zero by zerosuperior;
sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
sub four by foursuperior;
sub five by fivesuperior;
sub six by sixsuperior;
sub seven by sevensuperior;
sub eight by eightsuperior;
sub nine by ninesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub periodcentered by periodcentered.case;
sub bullet by bullet.case;
sub slash by slash.case;
sub backslash by backslash.case;
sub hyphen by hyphen.case;
sub endash by endash.case;
sub emdash by emdash.case;
sub parenleft by parenleft.case;
sub parenright by parenright.case;
sub braceleft by braceleft.case;
sub braceright by braceright.case;
sub bracketleft by bracketleft.case;
sub bracketright by bracketright.case;
sub guillemetleft by guillemetleft.case;
sub guillemetright by guillemetright.case;
sub guilsinglleft by guilsinglleft.case;
sub guilsinglright by guilsinglright.case;
sub bar by bar.case;
sub brokenbar by brokenbar.case;
";
tag = case;
},
{
automatic = 1;
code = "sub zero by zero.lf;
sub one by one.lf;
sub two by two.lf;
sub three by three.lf;
sub four by four.lf;
sub five by five.lf;
sub six by six.lf;
sub seven by seven.lf;
sub eight by eight.lf;
sub nine by nine.lf;
";
tag = pnum;
},
{
automatic = 1;
code = "sub zero.lf by zero;
sub one.lf by one;
sub two.lf by two;
sub three.lf by three;
sub four.lf by four;
sub five.lf by five;
sub six.lf by six;
sub seven.lf by seven;
sub eight.lf by eight;
sub nine.lf by nine;
";
tag = tnum;
},
{
code = "sub a by a.var;
sub f by f.var;
sub j by j.var;
sub jdotless by jdotless.var;
sub r by r.var;
sub y by y.var;
sub f_f by f_f.var;
sub f_i by f_i.var;
sub f_j by f_j.var;
sub f_l by f_l.var;
sub f_t by f_t.var;
sub f_f_i by f_f_i.var;
sub f_f_j by f_f_j.var;
sub f_f_l by f_f_l.var;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss01;
},
{
code = "#sub a by a.single;
sub g by g.single;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss02;
}
);
fontMaster = (
{
customParameters = (
{
name = "Preview Ascender";
value = 850;
},
{
name = "Preview Descender";
value = 300;
}
);
guides = (
{
locked = 1;
name = Superior;
pos = (0,440);
},
{
locked = 1;
pos = (0,262);
},
{
locked = 1;
name = Superior;
pos = (0,432);
}
);
id = "B8B720EE-CA8B-4072-B286-8C23F1A5F625";
metricValues = (
{
over = 8;
pos = 720;
},
{
over = 8;
pos = 700;
},
{
over = 8;
pos = 500;
},
{
over = -8;
},
{
over = -8;
pos = -240;
}
);
name = Regular;
visible = 1;
}
);
instances = (
{
instanceInterpolations = {
"B8B720EE-CA8B-4072-B286-8C23F1A5F625" = 1;
};
name = Regular;
}
);
kerningLTR = {
"B8B720EE-CA8B-4072-B286-8C23F1A5F625" = {
"@MMK_L_O" = {
A = -30;
};
"@MMK_L_V" = {
"@MMK_R_n" = -20;
"@MMK_R_o" = -50;
"@MMK_R_peroid" = -50;
A = -60;
J = -40;
d = -30;
four.lf = -30;
};
"@MMK_L_f" = {
"@MMK_R_n" = -20;
"@MMK_R_o" = -20;
"@MMK_R_peroid" = -20;
"@MMK_R_v" = -20;
hyphen = -20;
z = -10;
};
"@MMK_L_n" = {
"@MMK_R_o" = 0;
"@MMK_R_v" = -20;
s = -10;
t = -15;
};
"@MMK_L_o" = {
"@MMK_R_v" = -10;
t = -20;
x = -15;
};
"@MMK_L_r" = {
"@MMK_R_n" = -20;
"@MMK_R_o" = -20;
"@MMK_R_v" = -30;
d = -20;
f = -15;
hyphen = -30;
period = -40;
s = -20;
};
"@MMK_L_v" = {
"@MMK_R_o" = -30;
"@MMK_R_peroid" = -40;
"@MMK_R_v" = -20;
A = -40;
hyphen = -30;
seven.lf = -40;
};
"@MMK_L_x" = {
"@MMK_R_v" = -30;
hyphen = -20;
t = -10;
};
A = {
"@MMK_R_V" = -60;
"@MMK_R_v" = -60;
T = -30;
f = -20;
t = -20;
};
C = {
"@MMK_R_v" = -20;
};
F = {
"@MMK_R_n" = -20;
"@MMK_R_o" = -20;
"@MMK_R_peroid" = -40;
J = -60;
d = -20;
four.lf = -30;
i = -20;
j = -20;
};
L = {
"@MMK_R_n" = -30;
"@MMK_R_v" = -50;
T = -40;
Y = -60;
f = -30;
quoteright = -100;
t = -30;
};
P = {
"@MMK_R_colon" = -20;
"@MMK_R_o" = -10;
"@MMK_R_peroid" = -80;
"@MMK_R_v" = -40;
A = -40;
J = -60;
four.lf = -30;
};
S = {
"@MMK_R_v" = -30;
};
T = {
"@MMK_R_colon" = -20;
"@MMK_R_n" = -20;
"@MMK_R_o" = -30;
"@MMK_R_peroid" = -20;
"@MMK_R_v" = -30;
J = -40;
d = -20;
four.lf = -10;
};
Y = {
"@MMK_R_colon" = -20;
"@MMK_R_n" = -20;
"@MMK_R_o" = -25;
"@MMK_R_peroid" = -30;
A = -50;
d = -20;
};
c = {
s = -10;
};
e = {
s = -10;
};
four.lf = {
"@MMK_R_peroid" = -10;
};
hyphen = {
"@MMK_R_v" = -30;
x = -20;
z = -20;
};
l = {
"@MMK_R_v" = -15;
};
s = {
f = -20;
t = -20;
};
seven.lf = {
"@MMK_R_colon" = -40;
"@MMK_R_n" = -10;
"@MMK_R_o" = -20;
"@MMK_R_peroid" = -60;
"@MMK_R_v" = -20;
x = -20;
z = -30;
};
t = {
"@MMK_R_h" = -10;
"@MMK_R_o" = -5;
"@MMK_R_v" = -20;
hyphen = -30;
i = -10;
t = -40;
};
z = {
hyphen = -20;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright © 2019–2022 by Xiangdong Zeng. All rights reserved.";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Xiangdong Zeng";
}
);
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"B8B720EE-CA8B-4072-B286-8C23F1A5F625" = {
HH = "16";
OH = "16";
OV = "62";
oH = "16";
oV = "60";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
