(
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
AE,
B,
C,
D,
Eth,
E,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
F,
G,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Igrave,
J,
K,
L,
Lslash,
M,
N,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
S,
Scaron,
T,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zcaron,
Ccedilla,
a,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ae,
b,
c,
d,
e,
eacute,
ecircumflex,
edieresis,
egrave,
f,
g,
h,
i,
idotless,
iacute,
icircumflex,
idieresis,
igrave,
j,
jdotless,
k,
l,
lslash,
m,
n,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
s,
scaron,
t,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zcaron,
a.single,
g.single,
a.var,
f.var,
j.var,
jdotless.var,
r.var,
y.var,
ccedilla,
eth,
germandbls,
f_f,
f_f_i,
f_f_j,
f_f_l,
f_i,
f_j,
f_l,
fi,
fl,
f_f.var,
f_f_i.var,
f_f_j.var,
f_f_l.var,
f_i.var,
f_j.var,
f_l.var,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tnum,
one.tnum,
two.tnum,
three.tnum,
four.tnum,
five.tnum,
six.tnum,
seven.tnum,
eight.tnum,
nine.tnum,
onesuperior,
twosuperior,
threesuperior,
fraction,
onehalf,
onequarter,
threequarters,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
hyphen.case,
endash,
emdash,
underscore,
parenleft,
parenright,
parenleft.case,
parenright.case,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
circumflexcomb,
caroncomb,
ringcomb,
hungarumlautcomb,
brevecomb,
tildecomb,
macroncomb,
cedillacomb,
ogonekcomb,
_corner.serif,
_corner.vertserif,
_part.fliga1,
_part.fliga2,
_part.fligavar1,
_part.lowercase1,
_part.lowercase2,
_part.mid,
_part.top,
_part.uppercase1,
_part.uppercase2
)